@model CustomDataValidationAttributeWithDependencyInjection.Models.PasswordComplexityRuleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.ValidationSummary()</h1>
<h1>@ViewBag.SavedSuccessfully</h1>
<form method="post" asp-action="Save">


    <div>
        <h4>PasswordComplexityRules</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.MustContainLettersNumbers)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.MustContainLettersNumbers)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.MustContainSpecialCharacters)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.MustContainSpecialCharacters)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.MustContainUpperLower)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.MustContainUpperLower)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.MinLength)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.MinLength)
                </dd>
            </dl>
</div>
    <div>
        @Html.HiddenFor(hf=>hf.Id)
        <input type="submit" value="Save" />
    </div>
</form>